<% content_for :imagen do %>
<div class = "row hero-unit ">
<div class="span10 offset2"><%= image_tag "banner.jpg", :size=>"600x200"%></div>
</div>
<%end%>


<h2><%=@titulo%></h2>
<p>	
Some say the end is near. Some say we'll see armageddon soon. I certainly hope we will. 
I sure could use a vacation from this Bullshit three ring circus sideshow of Freaks 

Here in this hopeless fucking hole we call LA The only way to fix it is to flush it all away.  Any fucking time. Any fucking day. Learn to swim, I'll see you down in Arizona bay. Fret for your figure and Fret for your latte and Fret for your hairpiece and Fret for your lawsuit and Fret for your prozac and Fret for your pilot and Fret for your contract and Fret for your car.  </p>
