<div class ="row">
		<div class ="span2">
		<!-- Logotipo--> 
			<%= link_to image_tag("glass.png", :size=>"60x60"),{:action=>"index"} %>
		</div>
		<!-- Fin logotipo-->
		<div class = "span5 offset 5"></div>

		<!-- Menu navegacion-->

			<%= menu_navegacion ({"inicio"=>"index","¿Quienes somos"=>"quienes_somos","Servicios"=>"servicios","Contacto"=>"contacto","localizacion"=>"localizacion"})  %>
				
		<!-- Fin de Menú de Navegación -->
	
	</div>