<div class = "row hero-unit espacio ">
	<div class="span4">
		<h2>Ruby on Rails Bootstrap</h2>
  		<p>Moises Donoso</p>
  		<p></p>
  		<%= button "Entrar","index","get","btn btn-primary btn-lg" %>
  	</div>
  	
	<div class="span8"></div>
		<%= mostrar_imagen "nieve.png","250x250" %>
</div>	