<div class="row">

	<div class="span4">
		<h2>¿Quienes somos?</h2>
		<p>Somos blablabla 000</p>
	</div>
	<div class="span4">
		<h2>Servicios</h2>
		<p>Nuestros servicios blablabla 321</p>
	</div>
	<div class="span4">
		<h2>Localizacion</h2>
		<p>Nos ubicamos en blablabla 654</p>
	</div>

</div>
